{% extends 'base_page.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/course_page.css'|version }}">
{% endblock %}

{% block page_title %}{{ course_obj['code'] }} - {{ course_obj['name'] }}{% endblock %}

{% block head_tags %}
  {# Needed to force google bot to fetch from __escaped_fragment__ url
  See: https://developers.google.com/webmasters/ajax-crawling/docs/specification #}
  <meta name="fragment" content="!">
  <meta name="description" content="{{ course_obj['description'] }}">
{% endblock %}

{% block header %}
  <div class="container-fluid course-header">
    <div class="row-fluid white-shadow-box">
      <div class="span10">
        <div class="view-picture-placeholder"></div>
        <h1 class="page-title">{{ course_obj['code'] }} {{ course_obj['name'] }}</h1>
        <button class="btn btn-primary add-a-review" type="button" onclick="$('#review-tab').tab('show')">Add a Review</button>
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#Overview" data-toggle="tab"><p></p>Overview</a></li>
            <li><a href="#Reviews" data-toggle="tab" id="review-tab"><p>{{ tip_objs|length }}</p>Reviews</a></li>
            <li><a href="#Profs" data-toggle="tab"><p>{{ course_obj['professor_ids']|length }}</p>Profs</a></li>
            <li><a href="#Friends" data-toggle="tab"><p></p>Friends</a></li>
            <!-- <li><a href="#Videos" data-toggle="tab"><p></p>Videos</a></li>
            <li><a href="#Mentors" data-toggle="tab"><p></p>Mentors</a></li> -->
          </ul>
        </div>
{# 0x7FF028
        <p class="lead">{{ course_obj['name'] }}</p>
0x7FF035 #}
      </div>
{# 0x7FF028
      <div class="span2" id="rating-box-container"></div>
0x7FF035 #}
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="row-fluid">
{# 0x7FF028
    <div class="span3 well" id="took-this-sidebar-container">
    </div>
0x7FF035 #}
    <div class="tab-content">
      <div class="tab-pane active" id="Overview">
        <div class="white-shadow-box">
          <h3>{{ course_obj['code'] }} Overview</h3>
          <table class="vert-division">
            <tr>
              <th class="mini-title">Description</div>
              <th class="mini-content">{{ course_obj['description'] }}</div>
              <th class="mini-title">Prerequisites</div>
              <th class="mini-content">{{ course_obj['prereqs'] }}</div>
            </tr>
          </table>
        </div>
        <div class="white-shadow-box">
          <a class="see-all-link" onclick="$('#review-tab').tab('show')">See All</a>
          <h3>{{ course_obj['code'] }} Reviews</h3>
          <div class="all-ratings-box">
            <div class="rating-number"></div>
            <div class="progress"><div class="bar"></div></div>
            <div class="progress"><div class="bar"></div></div>
            <div class="progress"><div class="bar"></div></div>
            <div class="progress"><div class="bar"></div></div>
            <div class="progress"><div class="bar"></div></div>
            <a class='rating-trends'>Rating Trends</a>
          </div>
          <div class="ratings-placeholder"></div>
          <hr class="divider"></hr>
          <div class="section-collection-placeholder"></div>
        </div>
      </div>
      <div class="tab-pane" id="Reviews">
        <div class="white-shadow-box">
          <div class="row-fluid review-box-row">
            <div class="span12">
              <div class="user-review-box">
                <div class="review-placeholder">
                  {% if current_user %}
                  <p>In order to add your review, please add this course {{ course_obj['code'] }} in your shortlist.</p>
                  {% else %}
                  <p>In order to add your review, please <a data-toggle="modal">sign in</a> and add this course {{ course_obj['code'] }} in your shortlist.</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div id="tips-collection-container"></div>
        </div>
      </div>
      <div class="tab-pane" id="Profs">
        <div id="professor-review-container"></div>
      </div>
      <div class="tab-pane" id="Friends">
        <div id="took-this-sidebar-container" class="row-fluid white-shadow-box">
      </div>
      <div class="tab-pane" id="Videos">
      </div>
      <div class="tab-pane" id="Mentors">
      </div>
    </div>
{# 0x7FF028
    <div class="span9">
      <div id="course-inner-container"></div>
      <div id="exam-info-container" class="hide-initial"></div>
      <div id="tips-collection-container"></div>
      <h2>{{ course_obj['professor_ids']|length }} Professors</h2>
      <div id="professor-review-container"></div>
    </div>
0x7FF035 #}
  </div>
{% endblock %}

{% block scripts %}
<script>
  window.pageData.courseObj = {{ course_obj|tojson|safe }};
  window.pageData.tipObjs = {{ tip_objs|tojson|safe }};
  window.pageData.userCourseObjs = {{ user_course_objs|tojson|safe }};
  window.pageData.userObjs = {{ user_objs|tojson|safe }};
  window.pageData.professorObjs = {{ professor_objs|tojson|safe }};
  window.pageData.examObjs = {{ exam_objs|tojson|safe }};
  window.pageData.examUpdatedDate = {{ exam_updated_date|tojson|safe }};
</script>
{% endblock %}

{# TODO(david): Have underscore templates specify their deps. #}
{% block templates %}
  {% include 'prof.html' %}
  {% include 'tips.html' %}
  {% include 'took_this.html' %}
  {% include 'course.html' %}
  {% include 'term.html' %}
  {% include 'ratings.html' %}
  {% include 'user_course.html' %}
  {% include 'exam.html' %}
  {% include 'section.html' %}
  {% include 'review.html' %}
  {% include 'sign_in.html' %}
{% endblock %}
