  <!-- course video overview start -->
  <section id="course-overview">
    <div class="container">
      <div id="content">
        <!--heading start -->
        <div id="course-heading">
          <div class="row ">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-6">
                  <h2>CSC104, Computer Science</h2></div>
                <div class="col-xs-6">
                  <div class="pull-right"><a href="#.">Overview</a> <a href="#.">Video</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--heading end -->
        <!-- course description start -->
        <div id="course-description">
          <div class="row">
            <div class="course-description-descp clearfix">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-sm-2 col-xs-3">
                    <h4 class="bold">Description</h4> </div>
                  <div class="col-sm-10 col-xs-9">
                    <p> With a focus on telling women’s complex stories of life in Scarborough, this applied research course introduces students to the theory, methods and practice of feminist oral history. The course involves working and studying in the classroom and in the community. 15 hours of community work expected. Supplementary application required. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="course-description-prerequisites">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-sm-2 col-xs-3">
                    <h4 class="bold">Prerequisites</h4> </div>
                  <div class="col-sm-10 col-xs-9">
                    <p>3.5 credits in WST courses, including [WSTB05H3 and 0.5 credit at the C-level</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- course description end-->
        <!-- course review score start-->
        <div id="review-score">
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <p>Score <span id="stars-existing" class="starrr" data-rating='4' style="display: inline-block; float:right"></span></p>
            </div>
            <div class="helper">
              <div class="col-sm-6  col-xs-6">
                <div class="score-progress">
                  <p class="text-center"><span style="display: inline-block; width: 50px">Useful&nbsp&nbsp</span>
                    <progress value="22" max="40"></progress> 40% </p>
                  <p class="text-center"><span style="display: inline-block; width: 50px">Easy&nbsp&nbsp</span>
                    <progress value="22" max="40"></progress> 40% </p>
                </div>
              </div>
              <div class="col-sm-3  col-xs-6 "> <a class="pull-right"><i class="fa fa-commenting-o" aria-hidden="true"></i>
                Add a review</a> </div>
            </div>
          </div>
        </div>
        <!-- course review score end-->
        <!-- course comments start-->
        <div class="course-comments">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="review-heading">Course Review</h2> </div>
            <div class="col-sm-2 col-xs-3" style="padding-top:">
              <div class="students-comments"> <img src="images/team2.jpg" width="60px" height="60px" class="img-circle">
                <h4>Phillip Bao</h4>
                <p>on Step 10,2016</p>
              </div>
            </div>
            <div class="col-sm-6 col-xs-9">
              <p class="comment-sentence"> This course is a great explanation,easy to understand and targeted,propfessors are also very interesting </p>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="row">
                <div class="comment-review">
                  <div class="col-xs-4">
                    <h4>Useful</h4> </div>
                  <div class="col-xs-8">
                    <form>
                      <label class="radio-inline">
                        <input type="radio" name="optradio"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Yes </label>
                      <label class="radio-inline">
                        <input type="radio" name="optradio"><i class="fa fa-thumbs-down" aria-hidden="true"></i> No </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- course comments end-->
        <!-- course comments start-->
        <div class="course-comments">
          <div class="row">
            <div class="col-sm-2 col-xs-3" style="padding-top:">
              <div class="students-comments"> <img src="images/team2.jpg" width="60px" height="60px" class="img-circle">
                <h4>Phillip Bao</h4>
                <p>on Step 10,2016</p>
              </div>
            </div>
            <div class="col-sm-6 col-xs-9">
              <p class="comment-sentence"> This course is a great explanation,easy to understand and targeted,propfessors are also very interesting </p>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="row">
                <div class="comment-review">
                  <div class="col-xs-4">
                    <h4>Useful</h4> </div>
                  <div class="col-xs-8">
                    <form>
                      <label class="radio-inline">
                        <input type="radio" name="optradio"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Yes </label>
                      <label class="radio-inline">
                        <input type="radio" name="optradio"><i class="fa fa-thumbs-down" aria-hidden="true"></i> No </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- course comments end-->
        <!-- course comments start-->
        <div class="course-comments">
          <div class="row">
            <div class="col-sm-2 col-xs-3" style="padding-top:">
              <div class="students-comments"> <img src="images/team2.jpg" width="60px" height="60px" class="img-circle">
                <h4>Phillip Bao</h4>
                <p>on Step 10,2016</p>
              </div>
            </div>
            <div class="col-sm-6 col-xs-9">
              <p class="comment-sentence"> This course is a great explanation,easy to understand and targeted,propfessors are also very interesting </p>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="row">
                <div class="comment-review">
                  <div class="col-xs-4">
                    <h4>Useful</h4> </div>
                  <div class="col-xs-8">
                    <form>
                      <label class="radio-inline">
                        <input type="radio" name="optradio"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Yes </label>
                      <label class="radio-inline">
                        <input type="radio" name="optradio"><i class="fa fa-thumbs-down" aria-hidden="true"></i> No </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- course comments end-->
        <!--professor comments start -->
        <div class="professors-review">
          <div class="row">
            <div class="col-sm-3 col-xs-4">
              <div class="professor-pic"> <img src="images/team2.jpg" width="120px" height="120px" class="img-circle"> </div>
            </div>
            <div class="col-sm-4 col-xs-8">
              <h3>Serge D'Alessio</h3>
              <p>Email: 35462891@162.com</p>
              <p>Phone: 15893827272</p>
              <p>Office: Coming soon...</p>
            </div>
            <div class="col-sm-4 col-xs-12" style="margin-top:36px">
              <p>Clear&nbsp&nbsp
                <progress value="22" max="40"></progress> 40% </p>
              <p>Clear&nbsp&nbsp
                <progress value="22" max="40"></progress> 40% </p>
              <p>Clear&nbsp&nbsp
                <progress value="22" max="40"></progress> 40% </p>
            </div>
          </div>
        </div>
        <!--professor comments end -->
        <!-- course comments start-->
        <div class="course-comments" style="padding-top: 30px">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="review-heading" style="padding: 0;border: none">Course Review</h2> </div>
            <div class="col-sm-2 col-xs-3">
              <div class="students-comments"> <img src="images/team2.jpg" width="60px" height="60px" class="img-circle">
                <h4>Phillip Bao</h4>
                <p>on Step 10,2016</p>
              </div>
            </div>
            <div class="col-sm-6 col-xs-9">
              <p class="comment-sentence"> This course is a great explanation,easy to understand and targeted,propfessors are also very interesting </p>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="row">
                <div class="comment-review">
                  <div class="col-xs-4">
                    <h4>Useful</h4> </div>
                  <div class="col-xs-8">
                    <form>
                      <label class="radio-inline">
                        <input type="radio" name="optradio"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Yes </label>
                      <label class="radio-inline">
                        <input type="radio" name="optradio"><i class="fa fa-thumbs-down" aria-hidden="true"></i> No </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- course comments end-->
      </div>
    </div>
  </section>
  <!-- course video overview end -->
