  <!-- course video playlist start -->
  <section id="course-playlist">
    <div class="container">
      <div class="row">
        <div id="course-heading">
          <div class="row">
            <div class="col-xs-6">
              <h2>{{ course.code }}, {{ course.name }}</h2></div>
            <div class="col-xs-6">
              <div class="pull-right"><a ng-href="/course/{{course.id}}">Overview</a> <a ng-href="/course/{{course.id}}/video">Video</a></div>
            </div>
          </div>
        </div>
        <div id="white-area">
          <div class=" row video-holder centered">
            <div class="col-sm-8">
              <video id="video" class="video-js vjs-default-skin vjs-big-play-centered"
                     controls preload="auto" width="100%" height="340" data-setup="" poster=""
                     vjs-video vjs-media="mediaToggle">
              </video>
            </div>
            <div class="col-sm-4">
              <div class="playlist-components">
                <div class="playlist">
                  <ul>
                    <li ng-repeat="video in videos">
                      <a href="#" ng-click="change_video(video.url)"><h3>{{ video.title }}</h3></a>
                      <p>{{ video.description }}</p>
                    </li>
                  </ul>
                </div>
                <!--
    <div class="button-holder">
      <span id="prev">Prev</span>
      <span id="next">Next</span>
    </div>--></div>
            </div>
          </div>
          <!-/row-->
          <div id="counters" ng-show="false">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-6"><span>Share:</span>
                    <ul class="list-inline">
                      <ul class="list-inline social-icons">
                        <li><a href="#."><i class="fa fa-fw fa-facebook"></i></a></li>
                        <li><a href="#."><i class="fa fa-fw fa-twitter"></i></a></li>
                        <li><a href="#."><i class="fa fa-fw fa-google-plus"></i></a></li>
                      </ul>
                    </ul>
                  </div>
                  <div class="col-xs-6 ">
                    <div class="pull-right"><span class="views ">22,345</span><span> Views</span></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-6"><span>Score: </span> <span id="stars-existing" class="starrr">
                  </span></div>
                  <div class="col-xs-6">
                    <button class="btn btn-default pull-right">Trying for free !!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="intro" ng-show="false">
            <div class="row">
              <div class="col-xs-12">
                <p><span>Introduction</span> ：This section: our instructor talks about design thinking and computational table management</p>
              </div>
            </div>
          </div>
          <div id="instructor-info">
            <div class="row" ng-repeat="prof in profs">
              <div class="col-sm-2"><img src="images/team2.jpg" alt=""></div>
              <div class="col-sm-10">
                <h2>Professor : <a href="#.">{{ prof.first_name }} {{ prof.last_name }}</a></h2>
                <p>
                  TKCourse premium professor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- course video playlist end -->
