  <section id="course-information-section">
    <div class="container ">
      <div class="row">
        <div class="col-sm-3 text-center">
          <div class="instructor-info">
            <h2 class="text-left">Information</h2>
            <div class="background">
              <div id="instructor-photo"> <img src="{{ currentUser.profile_pic_urls.large }}" width="90px" height="90x" class="img-circle">
                <h3>{{ currentUser.name }}</h3>
                <p><i class="fa fa-database" aria-hidden="true" ng-show="false"></i> 3862 points</p>
              </div>
              <div class="names-list">
                <!--<ul>
                  <li><img src="images/team2.jpg" width="30px" height="30px" class="img-circle"> Serge D'Alessio </li>
                  <li><img src="images/team2.jpg" width="30px" height="30px" class="img-circle"> Serge D'Alessio </li>
                  <li><img src="images/team2.jpg" width="30px" height="30px" class="img-circle"> Serge D'Alessio </li>
                  <li><img src="images/team2.jpg" width="30px" height="30px" class="img-circle"> Serge D'Alessio </li>
                  <li><img src="images/team2.jpg" width="30px" height="30px" class="img-circle"> Serge D'Alessio </li>
                  <li><img src="images/team2.jpg" width="30px" height="30px" class="img-circle"> Serge D'Alessio </li>
                </ul>-->
                <div id="invite-button">
                  <button class="btn btn-default">Invite Friends</button>
                  <p>Invite friends to send
                    <br>200 points</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <h2>Courses</h2>
          <div class="col-sm-12">
              <div class="col-sm-12 input-group">
                  <input type="text" class="form-control" ng-model="query" placeholder="find your course">
              </div>
          </div>
          <div class="courses-rating-list">
            <div ng-repeat="course in courseCollection" class="row" style="padding:20px 0;margin-bottom:20px;background:#f7f7f7;">
                <div class="course-rating">
                    <div>
                        <div class="col-sm-8">
                            <h3><a href="/course/{{ course.id }}">{{ course.code }}</a></h3>
                            <p class="pull-right"><a href="#" ng-click=courseDetailSwitch(course)>{{ course.name }}</a></p>
                        </div>
                        <div class="col-sm-4">
                          <div class="rating pull-right">
                            <span id="stars-existing" class="starrr"></span>
                            <span class="chevron">{{ course.overall | RatingLabel }}</span> 
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show=course.showDetail>
                        <p>{{ course.description }}</p>
                    </div>
                </div>
            </div>
          </div>
          <div>
              <button type="button" class="btn btn-primary" ng-click="loadMore()">More</button>
          </div>
        </div>

      </div>
    </div>
  </section>
