  <!-- cover start -->
  <section id="cover">
    <div class="homepage-hero-module">
      <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
          <source src="/static/video/mp4/working-space.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser. </video>
        <div class="poster hidden"> <img src="/static/video/snapshots/working-space.jpg" alt=""> </div>
      </div>
    </div>
    <div id="search-bar">
      <form action="" method="POST" role="form">
        <div class="container">
          <div class="form-group">
            <select name="selection" id="inputID" class="form-control">
              <option value="" selected> Course type </option>
              <option value=""> Course one </option>
              <option value=""> Course two </option>
              <option value=""> Course three </option>
            </select>
            <input type="search" class="form-control" name="" id="" placeholder="Input...">
            <button type="button" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i> </button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- cover end -->
  <!-- Recommended videos start -->
  <section id="recommend-videos">
    <div class="container">
      <h2>Recommended videos <a href="#." class="pull-right">More</a> </h2>
      <div id="recommend-slider">
        <div class="item">
          <a href="#."> <img src="/static/images/course-one.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-two.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-three.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-one.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-two.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-three.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Recommended videos end-->
  <!-- Hot videos start -->
  <section id="hot-videos">
    <div class="container">
      <h2>Hot videos <a href="#." class="pull-right">More</a> </h2>
      <div id="hot-slider">
        <div class="item">
          <a href="#."> <img src="/static/images/course-one.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-two.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-three.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-one.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-two.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-three.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Hot videos end-->
  <!-- Popular videos start -->
  <section id="popular-videos">
    <div class="container">
      <h2>Popular videos <a href="#." class="pull-right">More</a> </h2>
      <div id="popular-slider">
        <div class="item">
          <a href="#."> <img src="/static/images/course-one.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-two.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-three.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-one.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="images/course-two.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#."> <img src="/static/images/course-three.jpg" align="course">
            <div class="slider-text">
              <h3>Course title</h3>
              <p>6 courses</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- popular videos end-->
