<div class="loader2">
    <div class="cssload-loader">
        <div class="cssload-inner cssload-one"></div>
        <div class="cssload-inner cssload-two"></div>
        <div class="cssload-inner cssload-three"></div>
    </div>
</div>


<!-- cover start -->
<section id="cover">
  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter"></div>
      <video autoplay loop class="fillWidth">
        <source src="http://misc.cdn.tkcourse.com/homepage/working-space_lq.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser. </video>
      <div class="poster hidden"> <img src="/static/video/snapshots/working-space.jpg" alt=""> </div>
    </div>
  </div>
</section>
<!-- cover end -->
<section id="hot-videos">
  <div class="container">
    <h2>热门试听课 </h2>
    <div id="hot-slider">
      <div class="item">
        <a href="http://www.tkcourse.com/course/csc108h1f/video"> <img src="/static/images/course-one.jpg" align="course">
          <div class="slider-text">
            <h3>CSC108</h3>
            <p>板块试听课</p>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="http://www.tkcourse.com/course/csc148h1f/video"> <img src="/static/images/course-two.jpg" align="course">
          <div class="slider-text">
            <h3>CSC148</h3>
            <p>板块试听课</p>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="http://www.tkcourse.com/course/mat136h1f/video"> <img src="/static/images/course-three.jpg" align="course">
          <div class="slider-text">
            <h3>MAT136</h3>
            <p>板块试听课</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Hot videos end-->
<!-- Popular videos start -->
