@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,300italic,400italic,600italic,700italic,800,800italic);
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #707a7f;
}

.course-page {
    background-color: #f8f8f8;
}
ul , ol{
    margin:0;
    padding:0;
    list-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 20px;
}


/*loader start */

.loader, .loader2 {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1200;
    background: #ffffff;
}

.cssload-loader {
    width: 54px;
    height: 54px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    top: 50%;
}

.cssload-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
    left: 0%;
    top: 0%;
    animation: cssload-rotate-one 1.15s linear infinite;
    -o-animation: cssload-rotate-one 1.15s linear infinite;
    -ms-animation: cssload-rotate-one 1.15s linear infinite;
    -webkit-animation: cssload-rotate-one 1.15s linear infinite;
    -moz-animation: cssload-rotate-one 1.15s linear infinite;
    border-bottom: 3px solid rgba(53, 192, 199, 0.97);
}

.cssload-inner.cssload-two {
    right: 0%;
    top: 0%;
    animation: cssload-rotate-two 1.15s linear infinite;
    -o-animation: cssload-rotate-two 1.15s linear infinite;
    -ms-animation: cssload-rotate-two 1.15s linear infinite;
    -webkit-animation: cssload-rotate-two 1.15s linear infinite;
    -moz-animation: cssload-rotate-two 1.15s linear infinite;
    border-right: 3px solid rgb(53, 192, 199);
}

.cssload-inner.cssload-three {
    right: 0%;
    bottom: 0%;
    animation: cssload-rotate-three 1.15s linear infinite;
    -o-animation: cssload-rotate-three 1.15s linear infinite;
    -ms-animation: cssload-rotate-three 1.15s linear infinite;
    -webkit-animation: cssload-rotate-three 1.15s linear infinite;
    -moz-animation: cssload-rotate-three 1.15s linear infinite;
    border-top: 3px solid rgb(53, 192, 199);
}

@keyframes cssload-rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-one {
    0% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-one {
    0% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-two {
    0% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-two {
    0% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-three {
    0% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-three {
    0% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}


/*loader end */


/* header styling */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
}

.course-page header {
    position: relative;
}

.navbar {
    border: none;
    -webkit-box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
    box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
    background: #fff;
    margin-bottom: 0;
}

.navbar .container-fluid {
    padding-left: 0;
}

.navbar-brand {
    padding: 0;
    width: 424px;
    height: auto;
}

.navbar-brand > img {
    width: 100%;
}

.navbar-toggle {
    background: #36c1c8;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-top: 15px;
}

.navbar-toggle > span {
    background: #fff;
}

.navbar .navbar-nav > li a {
    font-size: 16px;
    line-height: 70.9px;
    color: #afafaf;
}

.navbar-nav > li.active a,
.navbar .navbar-nav.navbar-right > li a {
    color: #36c1c8;
}

.navbar form {
    margin-top: 34px;
}

.navbar .form-group {
    position: relative;
}

.navbar .form-group .form-control {
    border-color: #36c1c8;
}

.navbar form .btn {
    background: transparent;
    border: none;
    position: absolute;
    right: 9px;
    top: 0;
    color: #36c1c8;
}


/*cover video styling start */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height:100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}

#cover {
    position: relative;
}

#cover form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(127, 137, 135, 0.8);
    padding: 15px 0;
}

#cover form #inputID {
    display: inline-block;
    width: 142px;
    position: absolute;
}

#cover form .form-control {
    height: 44px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#cover form .btn {
    display: inline-block;
    width: 102px;
    position: absolute;
    top: 0;
    right: 0;
    background: #35c0c7;
    height: 44px;
    font-size: 20px;
    color: #fff;
    -webkit-transition: linear 0.4s;
    -moz-transition: linear 0.4s;
    -o-transition: linear 0.4s;
    transition: linear 0.4s;
}

#cover form .btn:hover {
    background: #0f0f0f;
}

#cover form .form-group {
    margin-bottom: 0;
    position: relative;
}


/*cover video styling end*/


/* sliders styling start */

#recommend-videos,
#hot-videos,
#popular-videos {
    padding: 30px 0;
}

#recommend-videos .item,
#hot-videos .item,
#popular-videos .item {
    margin: 0 6px;
}

#recommend-videos h2,
#hot-videos h2,
#popular-videos h2 {
    text-transform: uppercase;
    text-align: center;
    color: #707a7f;
    font-size: 20px;
    margin-bottom: 30px;
}

#recommend-videos h2 > a,
#hot-videos h2 > a,
#popular-videos h2 > a {
    display: inline-block;
    color: #afafaf;
    font-size: 16.6px;
}

#recommend-videos .item img,
#hot-videos .item img,
#popular-videos .item img {
    display: block;
    width: 100%;
    height: auto;
}

.item a {
    color: #fff;
    text-align: center;
}

.item .slider-text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.item .slider-text h3 {
    font-size: 28px;
}

.item .slider-text p {
    font-size: 18px;
}


/* sliders styling end */

@media only screen and (max-width: 1024px) {
    .navbar-brand {
        width: 347px;
    }
    .navbar .navbar-nav > li a {
        line-height: 52.9px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-brand {
        width: 347px;
    }
    .navbar .navbar-nav > li a {
        line-height: 52.9px;
        font-size: 14px;
    }
}


/*footer setting */

footer {
    background: #707a7f;
    padding: 30px;
}

footer .list-inline {
    margin-bottom: 0;
}

footer .list-inline li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
}

footer .social-icons li a {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #ffffff;
    color: #707a7f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}

footer .social-icons li a:hover {
    background: #101010;
    color: #ffffff;
}

footer .social-icons li a i {
    line-height: 30px;
}


/*footer setting end*/


/*video playlist styling start */

#course-playlist {
    padding: 80px 0;
}

#course-playlist #white-area {
    background: #ffffff;
    padding: 30px;
}

#course-heading {
    background: #fbfcfc;
    padding: 15px 30px;
}

#course-heading a {
    color: #707a7f;
}

#course-heading a:first-child {
    margin-right: 10px;
    color: #35c0c7;
}

#course-playlist #counters .list-inline {
    display: inline-block;
    margin-left: 5px;
}

#course-playlist #counters .list-inline li a {
    font-size: 12px;
    color: #fff;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #707a7f;
    text-align: center;
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s;
    text-align: center;
    display: inline-block;
}

#course-playlist #counters .list-inline li a:hover {
    background: #35c0c7;
}

#course-playlist #counters {
    padding: 20px 0;
}

#course-playlist #counters .list-inline li a {
    line-height: 20px;
}

#course-playlist #counters .views {
    color: #35c0c7;
}

#course-playlist #counters .btn {
    background: #35c0c7;
    color: #fff;
}

.glyphicon-star:before {
    color: #ffba4d;
}

#intro {
    padding: 20px 0;
    border-top: 2px solid #f8f9f9;
    border-bottom: 2px solid #f8f9f9;
}

#intro p {
    font-size: 16px;
}

#intro p span {
    font-weight: 700;
}

#instructor-info {
    padding-top: 30px;
}

#instructor-info img {
    display: inline-block;
    width: 130px;
    height: 130px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#instructor-info p {
    margin-top: 20px;
    line-height: 27px;
    font-size: 16px;
}


/*video playlist styling end */


/* course page video playlist section end */


/*courses overview page styling start */

#course-overview {
    padding: 60px 0;
}

#course-overview #content {
    background: #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#course-overview #course-heading {
    padding: 15px;
}

#course-overview #review-score {
    padding: 30px 15px;
    border-top: 3px solid #f8f9f9;
}

#course-overview #course-description {
    padding: 15px 15px;
}

#course-overview #course-description h4 {
    font-size: 16px;
    font-weight: 600;
}

#course-overview #course-description .course-description-descp {
    margin-bottom: 20px;
}

#course-overview #course-description p #course-overview #course-description h4 {
    line-height: 27px;
}

#course-overview .course-comments {
    padding: 0 15px 30px 15px;
}

#course-overview .course-comments h2 {
    padding: 30px 0;
    ;
    border-top: 3px solid #f8f9f9;
    border-bottom: 3px solid #f8f9f9;
    margin-bottom: 30px;
}

#course-overview .students-comments {
    text-align: center;
}

#course-overview .students-comments h4 {
    font-size: 14px;
    margin: 6px 0;
}

#course-overview .students-comments p {
    font-size: 12px;
}

#course-overview .comment-sentence {
    padding: 10px 15px;
    background: #f8f8f8;
    line-height: 27px;
    color: #707a7f;
}

#course-overview form {
    float: right;
}

#course-overview .comment-review h4 {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 12px;
}

#course-overview .checkbox-inline,
.radio-inline {
    font-size: 14px;
    line-height: 22px;
}

input[type=radio],
input[type=checkbox] {
    display: none;
}

form input[type="radio"]:checked + label {
    background-color: yellow;
}

#course-overview .professors-review {
    padding: 30px 15px;
    border-top: 3px solid #f8f9f9;
    border-bottom: 3px solid #f8f9f9;
}

#course-overview .professors-review h2 {
    padding-bottom: 30px;
}

#course-overview .professors-review h3 {
    margin-bottom: 20px;
}

/*courses overview page styling  end*/


/*course information page styling start */
#course-information-section {
    padding: 80px 0;
}

#course-information-section  h2{
    padding: 15px;
    background: #fbfcfc;
    border-bottom: 3px solid #f8f9f9;
}
#course-information-section .instructor-info #instructor-photo{
    padding: 20px 0;
}
#course-information-section .instructor-info .background{
    background: #ffffff;
}
#course-information-section .instructor-info #instructor-photo img{
    display:block;
   position: relative;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    transform: translatex(-50%);
}
#course-information-section .instructor-info #instructor-photo h3{
    margin: 10px 0;
}
#course-information-section .instructor-info #instructor-photo p{
    padding: 4px 19px;
    display: inline-block;
    border-radius: 20px;
    color: #35c0c7;
    border:1px solid #35c0c7;
}
#course-information-section .instructor-info .names-list{
    border-top:3px solid #f8f9f9;
}
#course-information-section .instructor-info .names-list ul li {
    font-size:14px;
    line-height: 33px;
    padding: 20px 0;
}
#course-information-section .instructor-info  #invite-button .btn{
    font-size: 18px;
    line-height: 24px;
    padding: 10px 18px;
    background: #35c0c7;
    color: #fff;
    margin-bottom: 12px;
}
#course-information-section .courses-rating-list{
    padding: 80px 15px;
    background: #ffffff;
}
#course-information-section .courses-rating-list .course-rating{
    background: #f7f7f7;
}
#course-information-section .courses-rating-list .course-rating h3 ,
#course-information-section .courses-rating-list .course-rating p,
span
{
    display: inline-block;
    line-height: 33px;
}

#course-information-section .courses-rating-list .course-rating h3{
    font-size: 24px;
}
#course-information-section .courses-rating-list .course-rating{
    background: #f7f7f7;
}
#course-information-section .courses-rating-list .course-rating span:first-child{
    font-size: 24px;
}
#course-information-section .courses-rating-list .course-rating .chevron{
    width: 100px;
    height: 30px;
    background: #35c0c7;
    color: #fff;
    -webkit-clip-path: polygon(100% 3%, 100% 50%, 100% 100%, 0 100%, 26% 54%, 0 0);
    clip-path: polygon(100% 3%, 100% 50%, 100% 100%, 0 100%, 26% 54%, 0 0);
    padding-left: 32px;

}
/*course information page styling end */
@media only screen and (max-width: 1024px) {
    .navbar-brand {
        width: 347px;
    }
    .navbar .navbar-nav > li a {
        line-height: 52.9px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-brand {
        width: 306px;
        line-height: 52.9px;
    }
    .navbar .navbar-nav > li a {
        line-height: 41.9px;
        padding: 15px 9px;
    }
    .navbar form {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-brand {
        width: 250px;
    }
    .navbar form {
        margin: 0;
    }
    footer .list-inline {
        text-align: center;
    }
    footer .social-icons {
        float: none !important;
        margin-top: 12px;
    }
    #course-overview .comment-review {
        margin-top: 30px;
    }
    #course-information-section #courses-rating-list .course-rating {
        margin-top: 20px;
    }
}

div.hidden {
  display: none;
}

